<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homework.mapper.TbSworkMapper" >
  <resultMap id="BaseResultMap" type="com.homework.pojo.TbSwork" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ttid" property="ttid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="uid2" property="uid2" jdbcType="INTEGER" />
    <result column="sstatus" property="sstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ttid, uid, url, createtime, score, content, tid, uid2, sstatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.homework.pojo.TbSworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_swork
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_swork
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_swork
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.homework.pojo.TbSworkExample" >
    delete from tb_swork
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.homework.pojo.TbSwork" >
    insert into tb_swork (id, ttid, uid, 
      url, createtime, score, 
      content, tid, uid2, 
      sstatus)
    values (#{id,jdbcType=INTEGER}, #{ttid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{uid2,jdbcType=INTEGER}, 
      #{sstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.homework.pojo.TbSwork" >
    insert into tb_swork
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ttid != null" >
        ttid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="uid2 != null" >
        uid2,
      </if>
      <if test="sstatus != null" >
        sstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ttid != null" >
        #{ttid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid2 != null" >
        #{uid2,jdbcType=INTEGER},
      </if>
      <if test="sstatus != null" >
        #{sstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.homework.pojo.TbSworkExample" resultType="java.lang.Integer" >
    select count(*) from tb_swork
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_swork
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ttid != null" >
        ttid = #{record.ttid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.uid2 != null" >
        uid2 = #{record.uid2,jdbcType=INTEGER},
      </if>
      <if test="record.sstatus != null" >
        sstatus = #{record.sstatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_swork
    set id = #{record.id,jdbcType=INTEGER},
      ttid = #{record.ttid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      tid = #{record.tid,jdbcType=INTEGER},
      uid2 = #{record.uid2,jdbcType=INTEGER},
      sstatus = #{record.sstatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.homework.pojo.TbSwork" >
    update tb_swork
    <set >
      <if test="ttid != null" >
        ttid = #{ttid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid2 != null" >
        uid2 = #{uid2,jdbcType=INTEGER},
      </if>
      <if test="sstatus != null" >
        sstatus = #{sstatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.homework.pojo.TbSwork" >
    update tb_swork
    set ttid = #{ttid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      uid2 = #{uid2,jdbcType=INTEGER},
      sstatus = #{sstatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="find" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select c.*
	 from tb_course a,tb_teacher b,tb_swork c,tb_twork d
	 where a.tid=b.id and a.id=d.cid and c.ttid=d.id
	 and b.id=#{id,jdbcType=INTEGER}
 
  </select>
</mapper>